<div class="item">
  <p>
    <img
      [src]="Ingredient.imageUrl" alt="{{Ingredient.name}}"
      style="max-width: 100%">
    <span>{{Ingredient.name}}</span>
    <strong> X {{this.quantaty}} </strong>
    <button type="button" (click)="onDeleteClick()">Delete</button>
  </p>
</div>
