 <div class="half-container">
   <h1>Burger</h1>
   <form class="burger-form">
     <div class="Burger">
       <div class="BreadTop">
         <div class="Seeds1"></div>
         <div class="Seeds2"></div>
       </div>
       <div class="Salad"></div>
       <div class="Cheese"></div>
       <div class="Meat"></div>
       <div class="BreadBottom"></div>
       <p class="price">Price: </p>
     </div>
   </form>
  </div>



