<div class="container-half">
  <h1>Ingredients</h1>
  <form class="ingredients">
    <app-ingredient
    *ngFor="let Ingredient of ingredients"
    [Ingredient]="Ingredient"
    ></app-ingredient>
  </form>
</div>


