.container-half{
  width: 500px;
  float: left;
  margin: auto 0;
}

.ingredients{
  display: inline-block;
  width: 450px;
  height: 100%;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 2px #ccc;
}

p{
  display: flex;
  justify-content: space-between;
}

